.formulario {
  margin: 0 24px;
}
.formulario .section-title {
  margin: 88px auto 56px;
}

.formulario p {
  font-size: 16px;
  font-weight: var(--text-weight);
  line-height: 28px;
  text-align: center;
  margin-bottom: 56px;
}

.formulario form {
  background-color: transparent;
  width: 100%;
  border: none;
}

.formulario fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.formulario input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 64px;
  border: none;
  border-bottom: 3px solid #d9d9d9;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.formulario textarea {
  width: 100%;
  height: 90px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 32px;
  border: 3px solid #d9d9d9;
  border-radius: 8px;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.formulario input::placeholder {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  color: #8c8c8c;
}

.formulario label {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  color: #8c8c8c;
}

.formulario button {
  border: none;
  margin: 0 auto;
}

.formulario input:focus {
  outline: none;
  border-bottom: 2px solid var(--secondary-color);
}

.formulario textarea:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .formulario {
    margin: 0 60px;
  }

  .formulario p {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .formulario {
    margin: 0 120px;
  }

  .formulario .section-title {
    margin: 104px auto 56px;
  }
  .formulario form {
    max-width: 790px;
    margin: 0 auto;
  }

  .formulario fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px 24px;
    grid-template-areas:
      "campo-nome campo-nome"
      "meio-tel meio-email"
      "campo-texto campo-texto"
      "campo-comment campo-comment";
  }
  .campo-nome {
    grid-area: campo-nome;
  }

  .meio-tel {
    grid-area: meio-tel;
  }

  .meio-email {
    grid-area: meio-email;
  }

  .campo-texto {
    grid-area: campo-texto;
  }

  .campo-comment {
    grid-area: campo-comment;
  }
}
