.formulario {
  margin: 0 24px;
}
.formulario .section-title {
  margin: 88px auto 56px;
}

.formulario p {
  font-size: 16px;
  font-weight: var(--text-weight);
  line-height: 28px;
  text-align: center;
  margin-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .formulario {
    margin: 0 60px;
  }

  .formulario p {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
   
  }
}

@media screen and (min-width: 1440px) {
  .formulario {
    margin: 0 120px;
  }

  .formulario .section-title {
    margin: 104px auto 56px;
  }
}
