.main-footer {
  box-sizing: border-box;
  height: 348px;
  background-color: var(--background-tertiary-color);
  padding: 32px 24px;
}

.main-footer.blog{
  margin-top: 88px;
}

.main-footer .operation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.main-footer .operation .logo-footer img {
  width: 162px;
  height: 40px;
  margin-bottom: 16px;
}

.main-footer p {
  color: var(--text-secondary-color);
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--text-weight);
  text-align: center;
}

.opening-hours {
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.social-links .icons-links a {
  text-decoration: none;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .main-footer {
    height: 300px;
    padding: 32px 60px;
  }

  .main-footer.blog{
  margin-top: 104px;
}

  .main-footer p {
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1024px){
    .main-footer{
        flex-direction: column;
    }
    
}

@media screen and (min-width: 1440px) {
  .main-footer {
    height: 232px;
    padding: 52px 120px;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .main-footer .operation {
    align-items: start;
    margin-bottom: 0;
  }

  .social-links{
    justify-content: center;
  }

}
