@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-VariableFont_wght.ttf) format(truetype);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}
.section-title {
  width: 280px;
  margin: 88px auto 32px;
}

.section-title hr {
  background-color: var(--secondary-color);
  width: 180px;
  height: 4px;
  border: none;
  margin: 16px auto 0;
}

.botton {
  min-width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  background-color: var(--secondary-color);
  display: block;
  border-radius: 8px;
  line-height: 64px;
  text-decoration: none;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
  .section-title {
    width: 100%;
    margin: 88px auto 32px;
  }
}

@media screen and (min-width: 1024px) {
  .section-title hr {
    margin: 16px auto 0px;
  }

  .botton:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1440px) {
  .section-title {
    margin: 104px auto 64px;
  }
}
