.hero2-img {
  height: 400px;
  width: 100%;
  background: url(../img/hero2-mobile.jpg) no-repeat;
  background-size: cover;
  margin-top: 88px;
}

.hero2.link .hero2-img {
  height: 400px;
  width: 100%;
  background: url(../img/hero2-link-mobile.jpg) no-repeat;
  background-size: cover;
  margin-top: 88px;
}

@media screen and (min-width: 768px) {
  .hero2-img {
    background: url(../img/hero2-teblet.jpg) no-repeat;
    background-size: cover;
  }

  .hero2.link .hero2-img {
    background: url(../img/hero2-link-tablet.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .hero2-img {
    height: 600px;
    background: url(../img/hero2-desktop.jpg) no-repeat;
    background-size: cover;
    margin-top: 104px;
  }

  .hero2.link .hero2-img {
    height: 600px;
    background: url(../img/hero2-link-desktop.jpg) no-repeat;
    background-size: cover;
    margin-top: 104px;
  }
}
