.hero-contents {
  width: 100%;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 65px 24px;
  box-sizing: border-box;
}

.hero-contents.pacotes {
  background: url(../img/Banner-Destino-Mobile.png) no-repeat;
  background-size: cover;
}

.hero-link .hero-contents h1 {
  color: var(--text-secondary-color);
  font-size: 48px;
  font-weight: var(--title-weight);
}

.hero-link .hero-contents .hr-titulo {
  margin-left: 0;
  margin-bottom: 32px;
}

.hero-link .hero-contents p {
  color: var(--text-secondary-color);
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .hero-contents.pacotes {
    background: url(../img/Banner-Destino-Tablet.jpg) no-repeat;
    background-size: cover;
  }
  .hero-contents {
    width: 100%;
    height: 620px;
    padding: 158px 95px;
  }

  .hero-link .hero-contents p {
    font-size: 32px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1440px) {
  .hero-contents.pacotes {
    background: url(../img/Banner-Destino-Desktop.jpg) no-repeat;
    background-size: cover;
  }
  .hero-contents {
    width: 100%;
    height: 620px;
    padding: 158.5px 120px;
  } 

  .hero-link .hero-contents h1 {
    color: var(--text-secondary-color);
    font-size: 48px;
    font-weight: var(--title-weight);
  }

  .hero-link .hero-contents p {
    width: 579px;
    font-size: 32px;
    line-height: 150%;
  }
}
